# Virtual Environments & Python Cache
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class

# Airflow Logs & Databases
logs/
airflow.cfg
airflow.db

# OS & Editor
.DS_Store
.vscode/
AeroFlux-main/

# Global dbt ignores (catch-all)
**/profiles.yml
**/target/
**/dbt_packages/
**/logs/